<div class="app-title">
  <mat-toolbar color="primary">
    <span id="app-title-text">{{ title }}</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      matTooltip="Export as CSV"
      class="example-icon favorite-icon"
      (click)="export()"
    >
      <mat-icon>get_app</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Sort"
      [matMenuTriggerFor]="menu"
      class="example-icon favorite-icon"
    >
      <mat-icon>sort</mat-icon>
    </button>
  </mat-toolbar>
  <div *ngIf="(status$ | async) === 'loading'">
    <mat-progress-bar
      mode="indeterminate"
      class="loading-bar"
    ></mat-progress-bar>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="sortBy('dueDate')">Due Date</button>
  <button mat-menu-item (click)="sortBy('priority')">Priority</button>
  <button mat-menu-item (click)="sortBy('status')">Status</button>
</mat-menu>
