<div *ngFor="let task of allTasks$ | async">
  <mat-card class="task-card task-card-priority-{{ task.priority }}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <button
          mat-icon-button
          matTooltip="{{ task.status }}"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>{{
            task.status === "completed"
              ? "done"
              : task.status === "in-progress"
              ? "hourglass_top"
              : "play_circle_outline"
          }}</mat-icon>
        </button>
      </div>
      <mat-card-title-group>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
        <button
          mat-icon-button
          matTooltip="options"
          [matMenuTriggerFor]="actions"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions align="end">
      {{ task.dueDate | date }}
    </mat-card-actions>
  </mat-card>

  <!-- Menu Items -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="updateStatus(task, 'todo')">
      <mat-icon>play_circle_outline</mat-icon>
      Todo
    </button>
    <button mat-menu-item (click)="updateStatus(task, 'in-progress')">
      <mat-icon>hourglass_top</mat-icon>
      In Progress
    </button>
    <button mat-menu-item (click)="updateStatus(task, 'completed')">
      <mat-icon>done</mat-icon>
      Completed
    </button>
  </mat-menu>
  <mat-menu #actions="matMenu">
    <button mat-menu-item (click)="openDialog('150ms', '150ms', task, 'edit')">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-menu-item (click)="removeTask(task.id)">
      <mat-icon color="warn">delete</mat-icon>
      Delete
    </button>
    <button mat-menu-item (click)="openDialog('150ms', '150ms', task, 'log')">
      <mat-icon>info</mat-icon>
      Logs
    </button>
  </mat-menu>
</div>
