<mat-list *ngFor="let task of allTasks$ | async" class="task-list">
  <mat-list-item>
    <span matListItemAvatar>
      <button
        mat-icon-button
        matTooltip="{{ task.status }}"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>{{
          task.status === "completed"
            ? "done"
            : task.status === "in-progress"
            ? "hourglass_top"
            : "play_circle_outline"
        }}</mat-icon>
      </button>
    </span>
    <span matListItemTitle>{{ task.title }}</span>
    <span matListItemLine matTooltip="{{ task.description }}">{{
      task.description
    }}</span>
    <span class="task-priority task-priority-{{ task.priority }}">{{
      task.priority
    }}</span>
    <span matListItemMeta>
      <span>{{ task.dueDate | date }}</span>
      <button
        mat-icon-button
        matTooltip="options"
        [matMenuTriggerFor]="actions"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <!--Menu Options-->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="updateStatus(task, 'todo')">
      <mat-icon color="primary">play_circle_outline</mat-icon>
      Todo
    </button>
    <button mat-menu-item (click)="updateStatus(task, 'in-progress')">
      <mat-icon>hourglass_top</mat-icon>
      In Progress
    </button>
    <button mat-menu-item (click)="updateStatus(task, 'completed')">
      <mat-icon>done</mat-icon>
      Completed
    </button>
  </mat-menu>
  <mat-menu #actions="matMenu">
    <button mat-menu-item (click)="openDialog('150ms', '150ms', task, 'edit')">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-menu-item (click)="removeTask(task.id)">
      <mat-icon color="warn">delete</mat-icon>
      Delete
    </button>
    <button mat-menu-item (click)="openDialog('150ms', '150ms', task, 'log')">
      <mat-icon>info</mat-icon>
      Logs
    </button>
  </mat-menu>
</mat-list>
